<a class="item item-user">
  <div class="header">
    <img src={{@gravatarSrc}} class="ui avatar left floated image">
    {{@user.firstName}} {{@user.lastName}} <br>
    <span class="small emphasis text-subtle">
      {{@user.email}}
    </span>
  </div>
</a>
<div class="ui fluid popup transition">
  <a onclick={{@onClick}}>Logout</a>
</div>